<%- include('../includes/head.ejs') %>
<body>
    <%- include('../includes/nav.ejs') %>
    <main class="container is-max-desktop">
        <form class="mt-6" action="<% if(editing) { %>/edit-article<% }else{ %>/add-article<% } %>" method="post">
            <div class="field">
                <label class="label" for="title">Title</label>
                <div class="control">
                    <input class="input" type="text" name="title" value="<% if(editing) { %><%= article.title%><% } %>" />
                </div>
            </div>
            <div class="field">
                <label class="label" for="title">Content</label>
                <div class="control">
                    <textarea class="textarea" name="description" rows="5"><% if(editing) { %><%= article.description %><% } %></textarea>
                </div>
            </div>

            <% if(editing) { %>
                <input type="hidden" value="<%= article.id %>" name="articleId" />
            <% } %>



            <button class="button is-success" type="submit">
                <span class="icon is-small">
                    <% if(editing) { %>
                        <i class="fas fa-check"></i>
                    <% }else{ %>
                        <i class="fas fa-plus"></i>
                    <% } %>
                </span>
                <span>
                    <% if(editing) { %>Edit<% }else{ %>Add<% } %> Article
                </span>
            </button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>