<%- include('../includes/head.ejs') %>
<body>
    <%- include('../includes/nav.ejs') %>

    <main class="container mt-6">
        <h1 class="title">
            <%= article.title %>
        </h1>
        <div class="block">
            <p>
                <%= article.description %>
            </p>
        </div>
    </main>

<%- include('../includes/end.ejs') %>